#oligrapherEditorContainer:focus, 
#oligrapherEditorContainer div:focus, 
#oligrapherEditorContainer button:not(#zoomIn, #zoomOut):focus,
#oligrapherEditorContainer input[type="checkbox"]:focus {
  outline: none;
  background-color: #f8f8f8;
}

#oligrapherEditorContainer button:not(.nodeColorInputClearer) {
  background-color: #f8f8f8;
}

#zoomButtons {
  position: absolute;
  top: 15px;
  left: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

#zoomOut {
  margin-top: 5px;
}

#zoomButtons button {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #ddd;
  cursor: pointer;
  padding: 0px;
  color: #666;
  font-size: 16px;
}

#zoomButtons button:focus {
  outline: none;
}

button#toggleEditTools {
  position: absolute;
  top: 85px;
  left: 15px;
  border: 1px solid #ccc;
  background-color: #fff;  
  padding-top: 7px;
  width: 32px;
  outline: none;
}

#buttons {
  position: absolute;
  top: 15px;
  left: 60px;
  width:250px;
  pointer-events: none;
}

#buttons .buttonGroup {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  pointer-events: all;
}

#addNodeInput {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

#addInterlocksButton {
  margin-left: 10px;
}

.addNodeResults {
  display: block;
}

#deleteSelected {
  position: absolute;
}

.editForm.nodeDelete {
  margin-top: 120px;
}

.editForm.edgeDelete {
  margin-top: 80px;
}

.editForm {

}

.accordianMenu {
  position: absolute;
  left: -15px;
  top: 0px;
  width: 200px;
  height:100%;
  background-color: rgba(238, 238, 238, 0.75);
}

.accordianMenu * {
  margin: 0px;
  padding: 0px; 
}

.accordianButton {
  background-color: rgba(75, 75, 75, 0.5);
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1.05em;
}

.accordianSegment > div {
  padding-left: 15px;
  cursor: pointer;
}

.accordianSegment > div p {
  display: inline-block;
}

.accordianSegment > div.large p {
  line-height: 35px;
}

.accordianSegment > div.small p {
  line-height: 24px;
}

.accordianButton.large {
  height: 35px;
  width: 235px;
}

.accordianButton.small {
  height: 25px;
  width: 225px;
}

.accordianButton p {
  color:#fff;
}

.accordianFoldOutArrow {
  color: #fff;
  position: absolute;
  right: 35px;
  top: 0px;
  line-height: 27px;
}

.addButton {
  border: 1.5px #aaa solid;
  background-color: #fff;
  width: 95%;
  margin-bottom: 5px;
  height:25px;
}

.addButton p {
  margin-left: 15px;
}

.addElementsButton {
  display: inline-block;
  margin-left: 8px;
}

.addButtonGlyph {
  margin-left: -10px;
  width: 18px;
  border-right: 1px solid #aaa;
  display: inline-block;
  position: absolute;
  height: 24px;
  line-height: 25px;
}

.extendingButton {
  right: 0px;
  top:0px;
  position: absolute;
  background-color: rgba(75, 75, 75, 0.9);
  color: #eee;
  text-align: center;
}

.large .extendingButton {
  width:35px;
  height:35px;
  line-height: 35px;
}

.small .extendingButton {
  width:25px;
  height:25px;
  line-height: 25px;
}

.accordianSegment {
  height: auto;
}

.accordianFoldout {
  color: #aaa;
  font-size: 0.7em;
}

.editForm {
  display: inline-block;
  z-index: 20;
  top: 15px;
  right: 15px;
  margin: 0 auto;
}

.editForm h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.editForm input:not([type='checkbox']), .editForm select {
  width: 150px;
}

#addEdgeForm input, #addEdgeForm select {
  margin-bottom: 10px;
}

#addConnectedNodes {
  margin-top: 80px;
  z-index: 2;
}

#addConnectedNodesNum {
  width: 40px;
}

#addConnectedNodes select {
  margin-left: 5px;
}

.addNodeInput {
  margin-bottom: 5px;
}

.addNodeResult {
  margin-top: 3px;
}

.addNodeResult {
  color: #008;
  cursor: pointer;
}

#addEdgeForm {
}

#addEdgeForm input, #addEdgeForm select {
  margin-bottom: 5px;
}

#helpScreen {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px #888;
}

#helpScreen h3 {
  margin-top: 0;
}

.updateForm .form-control {
  margin-bottom: 10px;
}

#layoutButtons button {
  width:90%;
}

#nodeUrlInput {
  width: 363px;
  float: right;
}

.nodeColorInputWrapper {
  position: relative;
  display: inline-block;
}

.nodeColorInputWrapper .nodeColorInput {
  width: 50px;
  padding: 4px 8px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.nodeColorInputSwatch {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  margin-top: -1px;
  margin-left: -5px;
  cursor: pointer;
}

.nodeColorInputClearer {
  background: none;
  border: none;
  position: absolute;
  right: -2px;
  line-height: 29px;
  top: 0px;
}

.nodeColorPickerWrapper {
  position: absolute;
  right: 0px;
}

#edgeUrlInput {
  width: 337px;
}