#oligrapherEditorContainer:focus, 
#oligrapherEditorContainer div:focus, 
#oligrapherEditorContainer button:not(#zoomIn, #zoomOut):focus,
#oligrapherEditorContainer input[type="checkbox"]:focus {
  outline: none;
  background-color: #7ad8be;
}

#oligrapherEditorContainer button:not(.nodeColorInputClearer) {
  background-color: #f8f8f8;
}

#oligrapherEditorContainer{
  position: absolute;
  top: 0px;
  right: 0px;
  width:30%;
  background-color: #7ad8be;
  padding: 10px;
}

#oligrapherEditorContainer input {
  width: 100%;
}

#zoomButtons {
  position: absolute;
  bottom: 15px;
  right: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8)
}

#zoomOut {
  margin-top: 5px;
}

#zoomButtons button {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #ddd;
  cursor: pointer;
  padding: 0px;
  color: #666;
  font-size: 16px;
}

#zoomButtons button:focus {
  outline: none;
}

button#toggleEditTools {
  position: absolute;
  top: 85px;
  left: 15px;
  border: 1px solid #ccc;
  background-color: #fff;  
  padding-top: 7px;
  width: 32px;
  outline: none;
}

#buttons {
  position: absolute;
  top: 15px;
  left: 60px;
  width:250px;
  pointer-events: none;
}

#buttons .buttonGroup {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  pointer-events: all;
}

#addInterlocksButton {
  margin-left: 10px;
}

.addNodeResults {
  display: block;
}

#deleteSelected {
  position: absolute;
}

.editForm.nodeDelete {
  margin-top: 120px;
}

.editForm.edgeDelete {
  margin-top: 80px;
}

.editForm {
  width: 100%;
}

.accordianMenu {
  position: absolute;
  left: -15px;
  top: 0px;
  width: 200px;
  height:100%;
}

.accordianMenu.closedAccordian {
  left: -186px;
}

.accordianMenuForm {
  padding-bottom: 10px;
  width: 95%
}

.accordianMenuForm form {
  height: 35px;
}

.accordianMenuForm form label {
  font-size: 0.7em;
  display: inline-block;
  width: 27%;
  float: left;
  line-height: 30px;
  text-align: right;
}

.accordianMenuForm form input {
  display: inline-block;
  width: 70%;
  float: right;
}

.accordianMenuForm form select {
  display: inline-block;
  width: 70%;
  float: right;
}

.accordianMenutop {
  padding-left: 15px;
  cursor: pointer;
}

.accordianSegment > div p {
  display: inline-block;
}

.accordianSegment > div.large p {
  line-height: 35px;
}

.accordianSegment > div.small p {
  line-height: 24px;
}

.accordianButton {
  width: calc(100% - 25px);
  background-color: #e2b432;
  position: relative;
  cursor: pointer;
  font-size: 1.05em;
  border-bottom: 1px solid #966f19;
  padding-left: 15px;
  display: inline-block;
}

.editMenu .accordianButton {
  background-color: #00a779;
  border-bottom: #00543c 1px solid;
}

.accordianButton.large {
  height: 35px;
}

.accordianButton.small {
  height: 25px;
}

.accordianButton p {
  color:#fff;
}

.accordianFoldOutArrow {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 0px;
  line-height: 27px;
}

.addButton {
  border-bottom: 1px solid #b58a10;
  border-left: 1px solid #b58a10;
  background-color: #f9e09a;
  width: 95%;
  margin-bottom: 5px;
  height:25px;
  padding-left: 15px;
  cursor: pointer;
  color:#503700;
  position: relative;
}

.editMenu .addButton {
  background-color: #27d2a3;
  border-bottom: 1px solid #00805c;
  border-left: 1px solid #00805c;
  color: #001710;
}

.addButton .accordianFoldOutArrow {
  color:#503700;
}

.editMenu .addButton .accordianFoldOutArrow {
  color: #001710;
}

.addButton p {
  margin-left: 15px;
}

.addElementsButton {
  display: inline-block;
  margin-left: 8px;
}

.addButtonGlyph {
  margin-left: -10px;
  width: 18px;
  display: inline-block;
  position: absolute;
  height: 24px;
  line-height: 25px;
  font-size: 18px;
}

.addButtonGlyph i {
  margin-left: -3px;
}

.extendingButton {
  right: 0px;
  top:0px;
  background-color: #ce9e33;
  color: #eee;
  text-align: center;
  border-bottom: 1px solid #966f19;
  width:25px;
  height:25px;
  line-height: 25px;
  float: right;
  cursor: pointer;
}

.extendingButton:hover {
   background-color: #b78c2c;
}

.editMenu .extendingButton {
  background-color: #00805c;
  border-bottom: 1px solid #00543c;
}

.editMenu .extendingButton:hover{
  background-color: #006d4e;
}

.accordianSegment {
  height: auto;
}

.accordianFoldOut {
  padding-left: 15px;
  padding-top: 4px;
  width: 100%;
  background-color: #fff4d6;
  height:100%;
}

.editMenu .accordianFoldOut {
  background-color: #7ad8be;
}

.accordianFoldOut .accordianFoldOut {
  padding-left: 0px;
  width: 100%;
}

.showHideMenuButton {
  background-color: #966f19;
  color: #fff;
  margin: 0px;
  padding: 0px;
  height: 10px;
  right: 0px;
  position: relative;
  text-align: right;
  width: 100%;
  font-size: 0.5em;
  line-height: 11px;
  padding-right: 3px;
  cursor: pointer;
}

.editMenu .showHideMenuButton {
  background-color: #00543c;
  color: #aaa;
}

.editForm {
  display: inline-block;
  z-index: 20;
  top: 15px;
  right: 15px;
  margin: 0 auto;
}

.editForm h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.editForm input:not([type='checkbox']), .editForm select {
  /*width: 95%;*/
}

#addEdgeForm input, #addEdgeForm select {
  margin-bottom: 5px;
}

#addConnectedNodes {
  margin-top: 80px;
  z-index: 2;
}

#addConnectedNodesNum {
  width: 40px;
}

#addConnectedNodes select {
  margin-left: 5px;
}

#addNodeInput {
  /*margin-bottom: 5px;*/
}

.addNodeResults {
  margin-top: 3px;
  color: #008;
  cursor: pointer;
  display: block;
  position: relative;
  top: -10px;
}

#addEdgeForm {
}

#addEdgeForm input, #addEdgeForm select {
  margin-bottom: 5px;
}

#helpScreen {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px #888;
}

#helpScreen h3 {
  margin-top: 0;
}

.updateForm .form-control {
  margin-bottom: 5px;
}

#layoutButtons button {
  width:90%;
}

#nodeUrlInput {
  width: 100%;
  float: right;
}

.nodeColorInputWrapper {
  position: relative;
  display: inline-block;
}

.nodeColorInputWrapper .nodeColorInput {
  width: 50px;
  padding: 4px 8px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.nodeColorInputSwatch {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  margin-top: -1px;
  margin-left: -5px;
  cursor: pointer;
}

.nodeColorInputClearer {
  background: none;
  border: none;
  position: absolute;
  right: -2px;
  line-height: 29px;
  top: 0px;
}

.nodeColorPickerWrapper {
  position: absolute;
  right: 0px;
}

#edgeUrlInput {
  width: 337px;
}

.optionButtons{
  height: 100%;
  top: -26px;
  left: 100%;
  position: relative;
}

.optionButton {
  background-color: #ad801b;
  color: #eee;
  text-align: center;
  width:25px;
  height:26px;
  line-height: 25px;
  float: left;
}

.editMenu .optionButton {
  background-color: #00543c;
}

.optionButton:hover, .optionButton:active {
  background-color: #86600f;
  cursor: pointer;
}

.editMenu .optionButton:hover, .editMenu .optionButton:active {
  background-color: #003e2c;
  cursor: pointer;
}


